html,
body {
  background-color: #e0b78d; /* burlywood */
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#main {
  width: 100%;
}

#image {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

#img-div {
  display: center;
  height: auto;
  margin: auto;
  max-width: 100%;
}

#img-caption {
  padding-top: 5px;
}

#tribute-info {
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 75%;
  min-width: 85%;
}

i {
  font-weight: 500;
}

ul {
  list-style-type: none;
  text-align: left;
}
