body {
  background-color: #e0b78d; /* burlywood */
  background-image: url(images/parchment.jpg);
  background-size: cover;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#main {
  width: 100%;
}

#title {
  color: #ccc;
  text-shadow: 1px 1px 2px #000;
}

#image {
  border-radius: 4px;
  box-shadow: 2px 2px 3px #333;
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

#img-caption {
  padding-top: 5px;
}

#tribute-info {
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 75%;
  min-width: 85%;
}

i {
  font-weight: 500;
}

ul {
  list-style-type: none;
  text-align: left;
}

blockquote {
  font-weight: 700;
}

#tribute-link {
  text-decoration: none;
}
