body {
  background-color: #FFC0CB;
  background-image: url(images/albumCover.jpg);
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

#title {
  color: #333;
  text-shadow: 1px 1px 2px #eee;
}

#container {
  background: rgba(249, 249, 249, 0.8);
  border-radius: 10px;
  margin: 0px auto 10px auto;
  max-width: 60%;
  padding: 20px;
}

.description {
  font-size: 1.5em;
}

input:required {
  background-color: #FFC0CB;
}

.name, .email, .age {
  padding-bottom: 5px;
}

b {
  color: red;
}

.hidden {
  visibility: hidden;
}

input[type=text], input[type=email], input[type=number] {
  border: 1px solid #999;
  border-radius: 4px;
}

#number-label {
  padding-right: 20px;
}

.input-area {
  font-size: small;
  height: 25px;
  padding-left: 10px;
  width: 280px;
}

.lyrics {
  font-family: Mali, sans-serif;
  text-align: inherit;
}

.song-lyrics {
  white-space: pre-line;
}

.fieldset {
  border-radius: 4px;
  display: inline-grid;
  text-align: left;
  line-height: 1.5;
  width: 65%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comments {
  display: none;
  margin-bottom: unset;
  text-align: left;
}

textarea {
  background-color: #FFC0CB;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
  height: 150px;
  padding: 10px 15px;
  resize: none;
  width: 85%;
}

button {
  background-color: #FF0000;
  border-color: #FF0000;
  border-radius: 0.6em;
  color: #FFF;
  font-size: 1em;
  height: 2.5em;
  text-transform: uppercase;
  width: 6.5em;
}

button:hover {
  background-color: #FFF;
  border-color: #FF0000;
  color: #FF0000;
  cursor: pointer;
}

a {
  text-decoration: none;
}
