body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url(images/deluxe.jpg);
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

#container {
  background: rgba(249, 249, 249, 0.8);
  border-radius: 4px;
  margin: 0px auto 10px auto;
  max-width: 80%;
  padding: 20px;
}

.gear-section,
.mods {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 10px;
}

.radiob:hover,
.cbox:hover {
  background-color: #333;
  border-radius: 4px;
  color: #ccc;
}

fieldset {
  line-height: 1.5;
}

#description {
  font-size: larger;
  font-weight: 500;
}

input:required {
  background-color: lightyellow;
}

.name,
.email,
.age {
  padding-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=number] {
  border-radius: 4px;
}

#number-label {
  padding-right: 20px;
}

b {
  color: red;
}

.input-area {
  font-size: small;
  height: 25px;
  padding-left: 10px;
  width: 280px;
}

.dropdown {
  font-size: small;
  height: 35px;
  width: 160px;
}

.gear-worn,
.modifications {
  margin: 0 auto;
  max-width: 75%;
  min-width: 95%;
  padding-top: 30px;
}

.fieldset {
  border-radius: 4px;
  display: inline-grid;
  text-align: left;
}

.protective-gear,
.modified {
  margin-left: 15px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 6px;
  text-align: right;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.importance:after {
  content: "";
  display: table;
  clear: both;
}

.comments {
  display: none;
  margin-bottom: unset;
  text-align: left;
}

textarea {
  background-color: #F9F9F9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
  height: 150px;
  padding: 10px 15px;
  resize: none;
  width: 90%;
}

button {
  background-color: #59ACE0;
  border-color: #59ACE0;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  height: 40px;
  width: 80px;
}

button:hover {
  background-color: #1D6FA3;
  border-color: #1D6FA3
  cursor: pointer;
  transition: background-color 0.5s;
}
