* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 5.0em;
}

body {
  font-family: "Pirata One", cursive;
/*  border: solid 1px red;*/
}

.container {
  background-image: url(https://raw.githubusercontent.com/sjroma/fccWebDesignProjects/master/productLandingPage/images/parchmentBG.jpg);
  background-size: cover;
  padding-bottom: 1em;
/*  border: solid 1px red;*/
}

.banner {
  font-size: 4em;
  text-align: center;
}

.flex-nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #e0b78d;
/*  border: solid 1px lightgreen;*/
}

#header {
  display: flex;
  align-items: center;
/*  border: solid 1px black;*/
}

.logo {
  max-height: 5em;
  padding-left: 2em;
/*  border: solid 1px blue;*/
}

#header-img {
  max-width: 5em;
}

#nav-bar {
  display: flex;
  max-width: 100%;
/*  border: solid 1px red;*/
}

.toc-links {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

.toc-links a {
  color: #2b2f26;
  font-family: "Pirata One", cursive;
  font-size: 1.3em;
/*  text-transform: uppercase;*/
  text-decoration: none;
  padding: 0.3em;
  transition: all 0.3s linear;
}

.toc-links a:hover, .toc-links a:focus {
  background: rgba(38, 38, 38, 0.75);
  border-radius: 0.5em;
  color: lightgrey;
  transform: scale(1.075);
}

.features, .activities, .video, .signup {
  min-height: 50vh;
  margin-bottom: 3em;
  padding-top: 1.0em; 
  text-align: center;
/*  border: solid 1px lightgreen;*/
}

h2 {
/*  visibility: hidden;*/
}

.video {
  
}

#video {
  align-content: center;
  border: 0;
/*  width: 50em;*/
/*   height 800px; */
}

.subscribe-text {
  font-size: 1.4em;
}

#form {
  padding: 0.8em;
}

input#name, input#email {
  opacity: 0.55;
  background-color: rgba(249, 249, 249, 0.55);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0.5em;
  font-size: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
  width: 45%;
}

input::placeholder {
  color: #59ace0;
  color: #999;
  opacity: 1;
}


input:hover::placeholder, input:focus::placeholder {
  color: #000;
  color: #1d6fa3;
  background-color: #333;
  color: #fff;
}

input#name:hover, input#name:focus,
input#email:hover, input#email:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom-color: #1d6fa3;
  color: #1d6fa3;
  background-color: #333;
  color: #fff;
}

.submit-button {
  padding-top: 0.5em;
}

.button {
  height: 2em;
  width: 8em;
  border-radius: .4em;
  font-family: "Pirata One", cursive;
  font-size: 1.5em;
  background-color: #e0b78d;
  color: #000;
}

.button:hover, .button:focus {
  cursor: pointer;
  background: rgba(38, 38, 38, 0.75);
  color: #f9f9f9;
}

footer {
  
}

footer p {
  display: flex;
  justify-content: flex-end;
}
