/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*/

body {
  background-image: url("images/parchmentBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #EBD5B3; /*if image is not available*/
  font-family: sans-serif;
}

.wrapper {
/*  // border: 1px solid red;*/
  display: flex;
  flex-direction: column;
}

#nav-bar {
  background-color: #EBD5B3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav-bar a {
  color: #423B32;
  padding-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  color: #423B32;
  padding-top: 50px; /*account for fixed navbar*/
}

.fa, h3 {
  color: #423B32;
}

.box-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: space-around;
}
  
#box-1 {
  border: 1px solid black;
  background-color: lightgray;
  width: 30%;
/*  height: 50%; */
}

#box-2 {
  background-color: lightcyan;
  width: 30%;
  height: 50%;
}

#box-3 {
  background-color: lightblue;
  width: 30%;
  height: 50%;
}

#box-4 {
  background-color: lightcoral;
  width: 30%;
  height: 50%;
}

#box-5 {
  background-color: lightgoldenrodyellow;
  width: 30%;
  height: 50%;
}

#video {
  // height: 545px;
  // width: 620px;
  max-width: 100%;
  transition: ease-in-out; /*so the transition isn't jumpy*/
}

.signup em {
  color: red;
}

:required {
  background-color: #FFFFE0;
}

 .signup-title, .name, .email {
  color: #423B32;
  font-weight: 500;
  padding-bottom: 5px;
}

.nospam {
  color: #423B32;
  margin-top: -11px;
}

.input-area {
  border-radius: 4px;
  font-size: small;
  height: 25px;
  padding-left: 10px;
  width: 280px;
}

.button {
  background-color: #FFC;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  margin-top: 5px;
  width: auto;
}

section, footer {
  text-align: center;
  background: rgba(0,0,0,0.2); /* darkens the background slightly */
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
  a {
    text-decoration: none;
  }
}

footer p {
  color: #423B32;
  font-weight: 500;
}

/* Extra small devices...phones */
@media all and (max-width:576px) {
  .flex-nav a {
    flex-basis: 100%;
  }
  
  /* this is my Flex Container */
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  /* Flex Item (on a small device, move sign-up to the top of the page) */
  .wrapper > * {
    order: 999;
  }
  
  .flex-nav {
    order: 1;
  }
  
  .signup {
    order: 2;
  }
}
