* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  position: sticky;
  top: 0;
  background-color: grey;
  box-shadow: 0px 3px 3px #2b2a2a;
  font-family: 'Gayathri', sans-serif;
  font-weight: 700;
}

.nav-bar {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-bar a {
  color: #2b2f26;
  font-size: 1.2em;
  padding-right: 3.5em;
  padding-left: 3.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .15s ease-in-out;
}

.nav-bar a:hover {
  color: #000;
}

.welcome-container {
  background-color: grey;
  background-image: url(images/rubberDuck.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.welcome-header {
  background: rgba(249, 249, 249, 0.8);
  background: rgba(38, 38, 38, 0.75);
  color: lightgrey;
  border-radius: 4px;
  font-size: 3em;
  margin: auto;
  padding: 2.5rem 0.625rem;
  text-align: center;
  width: 85%;
}

.about-container {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  background-color: grey;
  background-image: url(images/textured.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.about-header {
  background: rgba(38, 38, 38, 0.75);
  color: lightgrey;
  border-radius: 4px;
  font-size: 2em;
  margin: auto;
  padding: 2.5rem 0.625rem;
  text-align: center;
  width: 85%;
}

.projects {
  padding-top: 3.5em;
  background-color: grey;
  background-image: url(images/textured.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.projects-title {
  font-size: 2em;
  text-align: center;
  padding: 0.8em;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.project-tile {
  text-align: center;
  width: 400px;
  height: 250px;
  text-decoration: none;
}

.project-image {
  border-radius: 0.5em;
  width: 356px;
  height: 200px;
}

.project-title {
  font-size: 1.3em;
  color: #2b2f26;
}

.contact-container {
  background-color: grey;
  background-image: url(images/textured.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.contact-info {
  background: rgba(249, 249, 249, 0.3);
  border-radius: .5em;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 2.5rem 0.625rem;
  text-align: center;
  width: 90%;
}

.contact-link a {
  color: #2b2f26;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.footer-container {
  background-color: grey;
  background-image: url(images/textured.jpg);
  font-size: 1.1em;
  padding: 1em;
}

@media screen and (max-width:900px) {
  .nav-bar a {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}
