* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu','Roboto',sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  box-shadow: 0px 3px 3px #2b2a2a;
  font-family: 'Gayathri', sans-serif;
  font-weight: 700;
}

.links {
  display: flex;
}

li {
  list-style-type: none;
}

.links a {
  display: block;
  color: #2b2f26;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em;
  padding-right: 3.5em;
  padding-left: 3.5em;
  transition: all .5s linear;
}

.links a:hover, .links a:focus {
  background: rgba(38, 38, 38, 0.75);
  color: lightgrey;
  transform: scale(1.075);
}

.welcome-container {
  background-color: grey;
  background-image: url(images/rubberDuck.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.welcome-header {
  background: rgba(38, 38, 38, 0.75);
  color: lightgrey;
  border-radius: 4px;
  font-size: 3em;
  margin: auto;
  padding: 2.5rem 0.625rem;
  text-align: center;
  width: 85%;
}

.about-container {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  background-color: grey;
  min-height: 100vh;
  display: flex;
}

.about-header {
  background: rgba(38, 38, 38, 0.75);
  color: lightgrey;
  border-radius: 4px;
  font-size: 2em;
  margin: auto;
  padding: 2.5rem 0.625rem;
  text-align: center;
  width: 90%;
}

.projects {
  padding-top: 3.5em;
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.projects-header {
  background: rgba(38, 38, 38, 0.75);
  color: lightgrey;
  border-radius: 4px;
  font-size: 2em;
  text-align: center;
  padding: 0.8em;
  margin: auto;
  padding: 2.5rem 0.625rem;
  width: 90%;
}

.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2em;
}

.project-tile {
  text-align: center;
  width: 22.25em;
  height: 12.5em;
  text-decoration: none;
  margin-bottom: 3em;
	transition: all 0.5s linear;
}

.project-image {
  border-radius: 0.5em;
  width: 22.25em;
  height: 12.5em;
  transition: all 0.5s linear;
}

.project-tile:hover, .project-tile:focus {
  transform: scale(1.075);
}

.project-title {
  border-radius: .3em;
  font-size: 1.3em;
  color: #2b2f26;
  background: rgba(38, 38, 38, 0.75);
  color: lightgrey;
  margin: auto;
  max-width: 22.25em;
}

.project-title:hover, .project-title:focus {
  color: rgba(38, 38, 38, 0.75);
  background: lightgrey;
}

.contact-container {
  background-color: grey;
  min-height: 50vh;
  display: flex;
}

.contact-info {
  background: rgba(38, 38, 38, 0.75);
  border-radius: .5em;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 2.5rem 0.625rem;
  text-align: center;
  width: 90%;
}

.contact-link a {
  color: lightgrey;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

.contact-link:hover, .contact-link:focus {
  transition: all .15s ease-in-out;
  transform: scale(1.5);
}

.footer-container {
  background-color: grey;
  font-size: 1.1em;
  padding: 1em;
}

@media screen and (max-width:900px) {
  .nav-bar a {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}
